<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ul>
    <% results.forEach(function(post) {%>
        <li>
            <h2><%= post.message %></h2>
            <p>
                <time datetime="YYYY-MM-DD HH:MM:SS"><%= post.createdAt %></time>
                <%= post.postedBy.username %>
            </p>
            <img src=<%= post.imageUrl %> alt=""/>
            <p>Likes: 
                <%= post.likedBy.length %>
            </p>  
            <p>Dislikes: 
                <%= post.dislikedBy.length %>
            </p>  
            <form action="/posts/<%= post.id %>/like/" method="post">
                <button type="submit">Like</button>
            </form>
            <form action="/posts/<%= post.id %>/dislike/" method="post">
                <button type="submit">Dislike</button>
            </form>
        </li>
    <% }); %>
</ul>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>