<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1>Posts</h1>

                <button class='create-new-button'><a href="/posts/create">Create Post</a></button>
                <ul class="post-list">
                    <% results.forEach(function(post) {%>
                        <li class="post-listing">
                            <h2 class="post-title">
                                <%= post.message %>
                            </h2>
                            <p>
                                <time datetime="YYYY-MM-DD HH:MM:SS">
                                    <%= post.createdAt %>
                                </time>
                                <%= post.postedBy.username %>
                            </p>
                            <img src=<%=post.imageUrl %> alt=""/>
                            <div class="post-interaction-container">
                                <p>
                                    <%= post.likedBy.length %>: 👍 <%= post.dislikedBy.length %>: 👎
                                </p>
                                <div class="post-interaction-buttons">
                                    <%if (post.likedBy.filter(user=> user.id === 1).length === 0
                                    && post.dislikedBy.filter(user => user.id === 1).length === 0) { %>
                                    <form class="like-button" action="/posts/<%= post.id %>/like/" method="post">
                                        <button type="submit">👍</button>
                                    </form>
                                    <form class="dislike-button" action="/posts/<%= post.id %>/dislike/" method="post">
                                        <button type="submit">👎</button>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        </li>
                        <% }); %>
                </ul>
                <%if (previous) { %>
                    <button class="prev-next-button"><a href="<%= previous %>">Previous</a></button>
                    <% } %>
                        <%if (next) { %>
                            <button class="prev-next-button"><a href="<%= next %>">Next</a></button>
                            <% } %>
        </body>
        <%- include('_footer') -%>

</html>