<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>
        <body>
            <img class="cover-image" src="" alt="" srcset=<%=coverImageUrl %>/>
            <div class="user-profile-header">
                <img class="profile-image" src="" alt="" srcset=<%=profileImageUrl %>/>
                <ul class="user-details">
                    <li><h1 class="title"><%= name %></h1></li>
                    <li><p  class="secondary-bold"><%= username %></p></li>
                    <li><p class="secondary"><%= email %></p></li>
                </ul>
            </div>
            

            

            
            
        </body>
        <%- include('_footer') -%>

</html>