<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1>Users</h1>
            <button class='create-new-button'><a href="/users/create">Create User</a></button>
            <ul class="user-list">
                <% results.forEach(function(user) {%>
                    <li class="user-listing">
                        <a href="/users/<%= user.id %>/">
                            <%= user.name %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
            <%if (previous) { %>
                <button class="prev-next-button"><a href="<%= previous %>">Previous</a></button>
                <% } %>
                    <%if (next) { %>
                        <button class="prev-next-button"><a href="<%= next %>">Next</a></button>
                        <% } %>
        </body>
        <%- include('_footer') -%>

</html>