<html lang="en-gb">
<%- include('_head') -%>
<%- include('_mobile_menu') -%>
    <%- include('_header') -%>

        <body>
            <div class="page-container" id="page-container">
                <div class="content-wrap">
                    <img class="cover-image" src="" alt="" srcset=<%=coverImageUrl %>/>
                    <div class="user-profile-header">
                        <img class="profile-image" src="" alt="" srcset=<%=profileImageUrl %>/>
                        <ul class="user-details">
                            <li>
                                <h1 class="title">
                                    <%= name %>
                                </h1>
                            </li>
                            <li>
                                <p class="secondary-bold">
                                    <%= username %>
                                </p>
                            </li>
                            <li>
                                <p class="secondary">
                                    <%= email %>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <%- include('_footer') -%>
            </div>
        </body>

</html>